<div class="container">
  <div class="row" style="margin-top: 30vh">
    <div class="col s12 m6 offset-m3">
      <div class="card grey lighten-4">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="card-content">
            <span class="card-title p-b-md">Log In</span>
              <%= devise_error_messages! %>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix p-t-xs">email</i>
                  <%= f.email_field :email, autofocus: true, class: "validate" %>
                  <%= f.label :email, data: {error: "wrong", success: "right"} %>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12"> 
                  <i class="material-icons prefix p-t-xs">vpn_key</i>
                  <%= f.password_field :password, autocomplete: "off" %>
                  <%= f.label :password %>
                </div>
              </div>
          </div>
          <div class="card-action">
            <a href="javascript:$('form').submit();" type="submit" name="action">Submit</a>
            <%= render "users/shared/links" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
