<%= form_for(@misc) do |f| %>
  <div class="input-field">
    <%= f.label :misc_date %><br>
    <%= f.text_field :misc_date, class: "datepicker", required: true %>
  </div>
  <div class="input-field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <br/> <br />
  <a href="javascript:$('form').submit();" type="submit" name="action" class="btn">Submit</a>
<% end %>

<%= javascript_tag do %>
   $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 25, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: true
  });
<% end %>