<%= form_for(@feature) do |f| %>
  <% if @feature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feature.errors.count, "error") %> prohibited this feature from being saved:</h2>

      <ul>
      <% @feature.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix p-t-xs">vpn_key</i>
      <%= f.label :ticket_id %><br>
      <%= f.text_field :ticket_id, required: true %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix p-t-xs">text_fields</i>
      <%= f.label :name %><br>
      <%= f.text_field :name, required: true %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix p-t-xs">textsms</i>
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix p-t-xs">date_range</i>
      <%= f.label :no_of_days %><br>
      <%= f.number_field :no_of_days, min: 1, step: "any", required: true %>
    </div>
  </div>
  <a href="javascript:$('form').submit();" type="submit" name="action" class="btn">Submit</a>
<% end %>
<%= javascript_tag do %>
   $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 25, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: true
  });
<% end %>