<div class="container">
  <% if can? :manage, Feature %>
    <a class="btn-floating waves-effect waves-light red right cjs-add-new-feature cjs-modal-link" style="top: 20px; left: 20px", data-url="<%= new_feature_path %>"><i class="material-icons">add</i></a>
  <% end %>

  <table class="centered z-depth-2 hoverable m-t-md">
    <thead>
      <tr>
        <th>Ticket</th>
        <th>Name</th>
        <th>Description</th>
        <th>No of days</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @features.each do |feature| %>
        <tr>
          <td><%= feature.ticket_id %></td>
          <td><%= feature.name %></td>
          <td><%= feature.description %></td>
          <td><%= feature.no_of_days %></td>
          <% if (can? :update, @feature) || (current_user.has_role? :admin) %>
            <td><%= link_to 'Destroy', feature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

 <div id="new_feature_modal" class="modal">
    <div class="modal-content">
      <h5>Feature</h5>
      <div class="cjs-new-feature-form"></div>
    </div>
  </div>

<%= javascript_tag do %>
  jQuery(".cjs-add-new-feature").click(function() {
    jQuery.ajax({
      url: jQuery(this).data('url'),
      type: 'GET',
      beforeSend: function(){
            jQuery(".loader").removeClass('hide');
          },
      success: function(response){
        jQuery(".cjs-new-feature-form").html(response); 
        jQuery(".loader").addClass('hide');
        $('.modal').modal();
        $('#new_feature_modal').modal('open');
      }
    });
  });
<% end %>